@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-500 ease-in-out;
  }
  
  /* Optional: Set a global dark background */
  .dark body {
    background-color: #0f172a; /* Slate-900 */
  }
}